/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content: center;
    align-items: center;
}

img{
	width:400px;
	height:175px;
	margin-right: 20px;
	object-fit: cover;
}

.textArea{
	text-align: center;
}

h1{
	font-size: 15px;
}
p{
	font-size:7px;
}
button{
	margin-top: not;
	font-size: 5px;
	color: white;
	background-color: red;

	border: none;
	border-radius: 2.5px;
	padding: 5px
	
}